# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your-project-url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# RevenueCat Configuration
EXPO_PUBLIC_REVENUECAT_APPLE_KEY=your-apple-key
EXPO_PUBLIC_REVENUECAT_GOOGLE_KEY=your-google-key

# OAuth Configuration
EXPO_PUBLIC_APP_ID=your-app-id
EXPO_PUBLIC_OAUTH_PORTAL_URL=https://your-oauth-portal.example
EXPO_PUBLIC_OAUTH_SERVER_URL=https://your-oauth-server.example
