# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your-project-url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# RevenueCat Configuration
EXPO_PUBLIC_REVENUECAT_APPLE_KEY=your-apple-key
EXPO_PUBLIC_REVENUECAT_GOOGLE_KEY=your-google-key
